

<!DOCTYPE html>
<html>

<head>

    <title>@{ViewBag.Title = "Group | VirtuallyEveryone";}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif;
        }
    </style>

</head>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/w3images/fjords.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Virtually Everyone</h2>
          </div>
        </div>
        <div class="w3-container">
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Details</b></p>
          <p>A group (often termed as a community, e-group or club) is a feature in many social networking services which allows users to create, post, comment to and read from their own interest- and niche-specific forums, often within the realm of virtual communities. Groups, which may allow for open or closed access, invitation and/or joining by other users outside the group, are formed to provide mini-networks within the larger, more diverse social network service.</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Members</b></p>
          <p>Ahmad Talal Hassan</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            
          </div>
          <p>Abdul Hanan</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
             
            </div>
          </div>
          
          
          <br>

          
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">

     <div style="display: inline-block">
                    <img src="~/Content/images/ques_icon.png" style="width: 50px; height: 50px; margin-bottom: 5px" />
                    <h4 style="font: bold; color: white; display: inline-block">Questions</h4>
                </div>

                <div class="photo-sharing" style="display: inline-block">
                    <img src="~/Content/images/image_icon.png" />
                    <a href="#">
                        <h4 id="myBtn">Photo Sharing</h4>
                    </a>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content" style="width:30%;height:65%">
                            <span class="close">&times;</span>
                            <p>Some text in the Modal..</p>
                        </div>

                    </div>
                </div>

                <form action="" method="post">
                    <div class="form-group">

                        <input type="text" name="user" value="username" hidden />

                        <textarea class="form-control" name="textarea" required></textarea>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>

                            </td>
                            <td>
                                <h5 style="margin-left: 5px; color: #CC2222">Ask anonymously</h5>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" style="margin-left: 225px; width: 100px">Ask</button>
                            </td>
                        </tr>
                    </table>
                </form>
    
        
      </div>

      <div class="w3-container w3-card w3-white">
        
        <div id="mydiv">
                    <table class="ques-table2">
                        <tr>
                            <td>
                                <hr style="color: gray; width: 475px" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5 style="display: inline-block" id="ques">Which is your favourite movie ? </h5>
                                <img style="width: 25px; height: 25px; display: inline-block" src="~/Content/images/dummy.png" />
                            </td>

                            <td>
                                <!--<input type="text" name="" id="" value="" hidden />-->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div>
                                    <p>
                                        <img src="~/Content/images/dummy.png" style="border-radius: 50%; height: 50px; width: 50px; margin-right: 30px" />@@ahmad
                                    </p>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p style="font: bolder">A Walk to remember !</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="example">

                                    <div class="rating" id="rating">
                                        <button class="btn btn-default like ">
                                            <img class="img-like" src="~/Content/images/like.png" />Like
                                        </button>
                                        <span class="likes">0</span>
                                        <button class="btn btn-default dislike">
                                            <img class="img-dislike" src="~/Content/images/dislike.png" />Dislike
                                        </button>
                                        <span class="dislikes">0</span>
                                    </div>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <hr id="hr-1">
                            </td>
                            <td>
                                <hr id="hr-1">
                            </td>
                        </tr>
                    </table>
                </div>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>



</body>
</html>

