
@{
    ViewBag.Title = "success";
}
<style>


    .panel {
        padding: 40px;
    }
</style>
<div class="container">
    <div class="row " style="margin-right: auto;margin-left: auto">
        <div class="col-md-8 text-center">
            <div class="panel">
                <h1 class="text-success">Group Created Success Fully </h1>
                <div class="group">
                    <a href="@Url.Action("Friends","Home")" class="btn btn-primary btn-lg"> Visit Group</a>
                </div>
            </div>
        </div>
    </div>
</div>
