@using VirtualForEveryOne.Models
@model Group

@{
    ViewBag.Title = "VisitGroup";
}
@*@{
        List<Group> group = new UserMethods().GetAllGroups();
    }*@
<h2>VisitGroup</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <h4>Group Rules</h4>
                <p style="font-weight: bold; font-size: 18px; color: red;">
                    @Model.info
                </p>
                <div style="background: cornsilk; width: 98%; height: 2px;"></div>
                <h4>Group Members</h4>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel">
                <img src="@Url.Content(Model.image)" alt="" />
                <h2 class="text-center" style="font-weight: bold; font-family: fantasy; color: #1a1a1a;">@Model.groupname</h2>
                <p class="text-center" style="font-style: italic; font-size: 16px; color: brown;">Group Admin:@Model.groupadmin</p>
            </div>


        </div>
    </div>
</div>
