.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1500; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* The Close Button */
.close5 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:pointer;
}

/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:pointer;
}

/* The Close Button */
.faqclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:pointer;
}

#frnd-list-img {
    border-radius: 50%; height: 50px; width: 50px; margin-right: 30px; 
}

.well-new {
    background-color: #1E2326; width: 50%; display: inline-block;
}
.well-new img {
    width: 50px; height: 50px; margin-bottom: 5px;
}
.well-new h4 {
    font: bold; color: white; display: inline-block;
}
#upload_img {
    height:35px;
    float:right;
}
#upload {
    width:57%;
    display:inline;
}

#settings{
    
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px; 

}
#well-div2 {
    margin-top:35%;
}

/**********************NOTIFICATION SETTINGS****************/
.notti{
    color:red;
    margin-left: 10px;
    
}

/**********************ACCOUNT SETTINGS****************/

.accountSet{
    
    margin-left: 10px;
}



/**********************NOTIFICATIONS - ALL****************/

.not_tbl{
    border-bottom: solid 2px;
    border-color: red;
    width: 100%;

    
      
}

.not{
    font-weight: bold;
    color: #645959;
    font-size: 18px;
}

.td{
    padding-left: 10px;
    padding-right: 5px;
}

.post_time{
    font-style: italic;    
    font-size: 13px;
    color: #adacac;
    padding-bottom: 10px;
}
.frnds_page_div a {
    margin-top:20px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*New snack bar*/

#snackbar1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*/////////////Magnifier////////////////*/

#profile_img:hover {
    opacity: 0.7;
}

/*Modal Background*/
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 90%;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-weight: bold;
}
/* Add Animation */
.modal-content1, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from;

{
    -webkit-transform: scale(0);
}

to {
    -webkit-transform: scale(1);
}

}

@keyframes zoom {
    from;

{
    transform: scale(0);
}

to {
    transform: scale(1);
}

}

/* The Close Button */
.close1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close1:hover,
    .close1:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content1;

{
    width: 100%;
}
}

#report_comment {
    width:100%;
}

#report-btn {
    color: #fff;
    background-color: #CC2222;
    border-color: #CC2222;
    float:right;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}

#report-btn:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

a.fa-globe {
  position: relative;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}
span.fa-comment {
    position: absolute;
    font-size: 1.2em;
    top: 15px;
    color: red;
    right: 174px;
}
span.num {
    position: absolute;
    font-size: 0.5em;
    margin: -10px 3px;
    color: #fff;
    right: 181px;
    font-weight: bold;
}

#ques-img:hover {
    opacity: 0.7;
}

#profile_img:hover {
    opacity: 0.7;
}

/*Modal Background*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 90%;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-weight: bold;
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
#q-img {
    width:300px;
    cursor:pointer;
}

#q-img:hover {
    opacity:0.7;
}

.sender_img {
    width: 25px; 
    height: 25px; 
    display: inline-block;
}