
@{
    ViewBag.Title = "notyMessage";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="container" style="padding-top: 150px;">
    <div class="jumbotron">
        <h2>User Has Been Warn SuccessFully</h2>
    </div>
</div>

